server {
        listen 80;
        listen [::]:80;
        server_name ldash.me www.ldash.me;
        return 301 https://ldash.me$request_uri;
}

server {
        listen 443 ssl http2;
        listen [::]:443 ssl http2;
        server_name www.ldash.me;
        return 301 https://ldash.me$request_uri;
        include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
        ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
        // SSL Certs
}

server {
        listen 443 ssl http2;
        listen [::]:443 ssl http2;

        server_name ldash.me;

        root /var/www/lifedash/public;

        error_page 404 /index.php;

        location ~ \.php$ {
            fastcgi_pass unix:/var/run/php/php8.1-fpm.sock;
            fastcgi_index index.php;
            fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
            include fastcgi_params;
        }

        // SSL Certs

        add_header X-Frame-Options "SAMEORIGIN";
        add_header X-XSS-Protection "1; mode=block";
        add_header X-Content-Type-Options "nosniff";

        index index.html index.htm index.php;

        charset utf-8;
        client_max_body_size 15M;   # or your desired limit

        location / {
            try_files $uri $uri/ /index.php?$query_string;
        }

        location = /favicon.ico { access_log off; log_not_found off; }
        location = /robots.txt  { access_log off; log_not_found off; }

        error_page 404 /index.php;

        location ~ /\.(?!well-known).* {
            deny all;
        }

}
